.QuickFilter{
    .ant-collapse {
        border: 0 !important;
        //border-top: 1px solid var(--border-color-split) !important;
        border-radius: 0 !important;
    }
    .ant-collapse-content > .ant-collapse-content-box {
        padding: 0 !important;
    }
    .ant-collapse > .ant-collapse-item {
        border: 0 !important;
    }
    .ant-collapse > .ant-collapse-item:last-child, .ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
        border-radius: 0 !important;
    }
    .ant-collapse-content {
        border-top: 1px solid var(--border-color-split) !important;
    }
    .filter-container{
        width: 100%;
        min-height: 240px;
        position: relative;
    }
    .filter-body{
        width: 100%;
        position: relative;
        min-height: 240px;
    }
    .filter-elements-wrapper {
        margin-bottom: 34px;
    }
    .filter-header{
        width: 100%; border-bottom: 1px solid var(--border-color-split);
        padding: 10px;
    }
    .filter-footer{
        width: 100%;
        border-top: 1px solid var(--border-color-split);
        padding: 10px;
    }
    .filter-title{
        color: var(--text-color);
    }
}
