

/*Ant Design*/

.ant-menu-item-group-title {
  padding: 0 16px !important;
}
.ant-page-header {
  height: 60px !important;
  padding: 10px 20px !important;
  border-bottom: 1px solid var(--border);
}

.ant-upload-list-item-list-type-picture-card,
.ant-upload-list-picture-card-container,
.ant-upload {
  width: 200px !important;
  height: 200px !important;
}

.ant-modal-mask,
.ant-drawer-mask {
  backdrop-filter: blur(10px);
  /*background-color: rgba(32, 41, 50, 0.35) !important;*/
}

.ant-picker-cell {
  color: var(--picker-cell-color) !important;
}
/* .ant-picker-cell-in-view.ant-picker-cell-in-range::before {
  background: rgb(200 186 232) !important;
} */
.ant-picker-panel {
  background: var(--picker-panel-bg) !important;
}
.ant-picker-header button {
  color: var(--picker-header-button) !important;
}
.ant-picker-header-view.ant-picker-month-btn {
  color: var(--picker-header-button-main) !important;
}
.ant-picker-header-view.ant-picker-year-btn {
  color: var(--picker-header-button-main) !important;
}
.ant-message {
  color: var(--message-text-color) !important;
}
.ant-radio-button-disabled,
.ant-radio-button-wrapper-disabled,
.ant-picker-cell-disabled {
  color: var(--disabled-color) !important;
}
.ant-picker-cell-disabled .ant-picker-cell-inner,
.ant-steps-item-subtitle,
.ant-collapse .ant-collapse-item-disabled > .ant-collapse-header,
.ant-collapse .ant-collapse-item-disabled > .ant-collapse-header > .arrow {
  color: var(--disabled-color) !important;
}
.ant-steps-item-wait
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-description,
.ant-steps-item-wait
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title,
.ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon,
.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-description {
  color: var(--disabled-color) !important;
}
.ant-steps-item-wait .ant-steps-item-icon {
  border-color: var(--disabled-color) !important;
}
.ant-tag:not(.ant-tag-has-color) {
  background: var(--background-color-light) !important;
}
.ant-checkbox-inner {
  border-radius: 2px !important;
}
.ant-input-affix-wrapper {
  color: var(--message-text-color) !important;
}
.ant-input-password-icon {
  color: var(--text-color) !important;
}
.ant-input-suffix span,
.ant-picker-suffix {
  color: var(--text-color) !important;
}
.ant-picker:hover .ant-picker-suffix {
  color: var(--accent) !important;
}
.ant-select-arrow {
  color: var(--text-color) !important;
}
.ant-pagination-item-ellipsis {
  color: var(--text-color) !important;
}
.ant-menu-item,
.ant-menu-submenu-title {
  font-size: 12px !important;
}
.ant-menu-item-selected.anticon {
  color: var(--accent) !important;
}
.ant-input-number-handler-up-inner {
  color: var(--input-number-handler-border-color) !important;
}
.ant-input-number-handler-down-inner {
  color: var(--disabled-color) !important;
}
.ant-input-number-handler-down:hover .ant-input-number-handler-down-inner {
  color: var(--text-color) !important;
}
.ant-empty-img-simple-ellipse {
  fill: var(--empty-img-simple-ellipse);
}
.ant-empty-img-simple-g {
  stroke: var(--empty-img-simple-g);
}
.ant-empty-img-simple-path {
  fill: var(--empty-img-simple-path);
}
.ant-picker-separator {
  color: var(--checkbox-disabled) !important;
}
/*React perfect scrollbar*/
.ps__thumb-y,
.ps__thumb-x {
  background-color: var(--scroll-thumb-color) !important;
}
.ps__rail-y {
  background: var(--scroll-bg) !important;
}
/* Remixicon */
[class^='ri-'],
[class*=' ri-'] {
  font-size: 14px;
}
