.ReactTable___table-column-filter {
  width: 360px;
  .ReactTable___table-column-filter-header {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .ReactTable___table-column-filter-header-text {
    font-size: 16px;
    font-weight: 500;
  }
  .ReactTable___table-column-filter-body {
    width: 360px;
    max-height: 300px;
    .ReactTable___table-column-filter-body-item {
      height: 40px;
      display: flex;
      align-items: center;
      cursor: move !important;
      .ant-checkbox-wrapper {
        cursor: move !important;
      }
    }
  }
  .ReactTable___table-column-filter-footer {
    width: 360px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--border-color);
    padding: 5px;
  }
}
